{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->

        {% include 'include/alert.html' %}
        <div class="row">

            <aside class="col-lg-6">
                <div class="card p-3">
                    <div class="card_body">

                        <h2>Biling Address</h2>
                        <form action="{% url 'place_order' %}" method="POST"> {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="#">First Name</label>
                                    {{form.first_name}}
                                </div>
                                <div class="col">
                                    <label for="#">Last Name</label>
                                    {{form.last_name}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="#">Email</label>
                                    {{form.email}}
                                </div>
                                <div class="col">
                                    <label for="#">Phone</label>
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="#">Address Line 1</label>
                                    {{form.address_line_1}}
                                </div>
                                <div class="col">
                                    <label for="#">Address Line 2</label>
                                    {{form.address_line_2}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="#">City</label>
                                    {{form.city}}
                                </div>
                                <div class="col">
                                    <label for="#">State</label>
                                    {{form.state}}
                                </div>
                                <div class="col">
                                    <label for="#">Country</label>
                                    {{form.country}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="#">Order Note</label>
                                    {{form.order_note}}
                                </div>
                            </div>

                    </div>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-6">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_item  %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{item.product.image.url}}" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="{{item.product.get_url}}"
                                                class="title text-dark">{{item.product}}</a>
                                            <p class="text-muted small">

                                                {% for i in item.variation.all %}
                                                {{i.variation_category | capfirst}} : {{i.variation_value | capfirst}}
                                                <br>
                                                {% endfor %}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <!-- col.// -->
                                    <div class="col">
                                        <div class="input-group input-spinner">
                                            <input type="text" class="form-control" value="{{item.quantity}}" readonly>
                                        </div> <!-- input-group.// -->
                                    </div> <!-- col.// -->
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">BDT {{item.get_total}}</var>
                                        <small class="text-muted"> BDT {{item.product.price}} each </small>
                                    </div> <!-- price-wrap .// -->
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                    <div class="m-3">

                        <button type="submit" class="btn btn-primary btn-block">Place Order</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                    </div>
                    </form>

                </div> <!-- card.// -->


            </aside> <!-- col.// -->

        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->


    </div> <!-- container .//  -->
</section>

{% endblock content %}